<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
     
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
     

     
      <!-- Notifications Dropdown Menu -->
      <li *ngIf="isLoggedIn" class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fas fa-users mr-2"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <div class="dropdown-divider"></div>
          <div *ngIf="isAdmin" >
          <a   href="/user-list" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> User List
           
          </a>
         
          <div class="dropdown-divider"></div>
          <a href="/admin-list" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> Admin List
          </a>
          <div class="dropdown-divider"></div>
          <a href="/group-list" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> Group List
          </a>
        </div>
          <div class="dropdown-divider"></div>
          <a href="/device-list" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> Device List
          </a>
          <div class="dropdown-divider"></div>
          <a href="/change-password" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> Change Password
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" href="#" class="dropdown-item dropdown-footer">Logout</a>
        </div>
      </li>
     
     
    </ul>
  </nav>